.imageContainer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 20px;
}

.service-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 26.7px;
  padding: 30px;
  font-family: 'Roboto', sans-serif;
  max-width: 1700px;
  margin: 0 auto;
  min-height: 50vh;
}

.service-card {
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack the content vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  margin-bottom: 30px;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .service-content {
    font-size: 22px;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .service-content {
    font-size: 18px;
    text-align: center;
    padding: 10px;
  }

  .imageContainer2 img {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .service-content {
    font-size: 16px;
    padding: 5px;
  }

  .imageContainer2 img {
    width: 100%;
  }

  .service-card {
    flex-direction: column;
    margin-bottom: 20px;
  }
}
