/* ProductDisplay.css */
.product-layoutFila {
    display: flex;
    max-width: 1800px;
    margin: 0 auto;
    padding: 30px;
    gap: 40px;
  }
  
  .image-sectionFila {
    flex: 1;
    min-width: 300px;
    
    animation: slideIn 1s ease-in-out; /* Apply the animation */
  }
  
  .product-imageFilaMO {
    width: 100%;
    height: auto;
   border-radius: 10px;
   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .content-sectionFila {
    flex: 2;
    min-width: 300px;
    max-width: 900px;
    margin-top: 70px;
    
  }
  
  .descriptionFila p {
    margin: 0 0 16px 0;
    line-height: 1.4;
    color: #444;
    font-size: 30px;
    text-align: left;
  }
  
  /* Keyframes for the left-to-right animation */
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .product-layoutFila {
      flex-direction: column;
      padding: 16px;
      gap: 24px;
    }
  
    .image-sectionFila,
    .content-sectionFila {
      width: 100%;
    }
  
    h1 {
      font-size: 20px;
    }
  
    h2 {
      font-size: 14px;
    }
  }
  