body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Montserrat',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.banner {
  position: relative;
  height: 100vh;
}

.banner-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.banner-content {
  color: white;
  text-align: center;
}

.banner-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.btn {
  background-color: #ff6600;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
}

.ExportSection{
  width: 100%;
}
/* Statistics Section */
.export-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 0px 0;
}

.stat-item {
  text-align: center;
  margin: 0 50px;
}

.stat-item h1 {
  font-size: 78px;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.plus-symbol {
  color: #d32f2f;
  font-size: 36px;
  vertical-align: top;
}

.stat-item p {
  font-size: 14px;
  font-weight: bold;
  color: #666;
  margin-top: 5px;
  text-transform: uppercase;
}

.divider {
  width: 1px;
  height: 50px;
  background-color: #ccc;
  margin: 0 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .export-stats {
    flex-direction: column;
  }
  .divider {
    display: none;
  }

  .stat-item {
    margin-bottom: 20px;
  }
}

.Exhitbition2{
display: block;
margin: 0 auto;
padding: 20px;



}
/* Centering text styles */
.centerText {
  text-align: center;
  font-weight: bolder;
}

/* Center the entire container */
.imageContainer {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
  width: 100%;  /* Ensure that container takes full width */
  display: flex;
  flex-direction: column;
  align-items: center;  /* Centers image and title box */
  justify-content: center;  /* Vertically centers the content */
}

/* Title box below the image */
.titleBox {
  background-color: white;
  color: black;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, .08);
  font-size: 20px;
  font-weight: bold;
  width: 35%;  /* Makes the title box width the same as the image */
  box-sizing: border-box;
  
}

/* Optionally, if you want the image to be centered inside the container */
.ExportSection, .Exhitbition2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Modal overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

/* Modal styles */
.modal {
  position: relative;
  max-width: 800px;
  width: 80%;
  background-color: #fff;
  padding: 10px;
  cursor: pointer;
}

.modalImage {
  width: 100%;
}

.modalTitle {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  color: black ;
  cursor: pointer;
  z-index: 2000;
}
.close-button:hover {
  color: red; /* Slightly lighter black on hover */
}
.card-wrapper {
  display: flex; /* Enables flexbox */
  flex-wrap: wrap;
  justify-content: center; /* Centers the cards horizontally */
  align-items: center; /* Centers the cards vertically (optional) */
  gap: 20px; /* Adds space between the cards */
  margin-top: 50px; /* Adds some space at the top */
  background-color: #F7F7F7; /* Sets the background color for the entire wrapper */
  padding: 50px; /* Adds padding inside the wrapper to avoid cards touching edges */
  box-sizing: border-box; /* Ensures padding doesn't affect overall size */
  cursor: pointer;
}
.card-wrapper2{
  display: flex; /* Enables flexbox */
  flex-wrap: wrap;
  justify-content: center; /* Centers the cards horizontally */
  align-items: center; /* Centers the cards vertically (optional) */
  gap: 400px;
}
.card-wrapper3{
  display: flex; /* Enables flexbox */
  flex-wrap: wrap;
  justify-content: center; /* Centers the cards horizontally */
  align-items: center; /* Centers the cards vertically (optional) */
  gap: 20px; /* Adds space between the cards */
  margin-top: 10px; /* Adds some space at the top */
  background-color: white; /* Sets the background color for the entire wrapper */
  padding: 30px; /* Adds padding inside the wrapper to avoid cards touching edges */
  box-sizing: border-box;
}



