.imageContainer3 {
  width: 100%;
  height: auto;
  position: relative;
}

.ExportSection {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Timeline styles */
.timeline-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
}

.milestone-section {
  margin-bottom: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Timeline segment styling */
.timeline-segment {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  background-color: #ff0000;
  height: calc(100% - 50px); /* Adjust based on your year header height */
  top: 130px; /* Start after the year header */
  z-index: -1;
}

.year-header {
  text-align: center;
  font-size: 2.7rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #000;
  background-color: white;
  padding: 0 1rem;
  z-index: 1;
  background: linear-gradient(to right, #e31e29 0, #232323 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.milestone-content {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin:   0 2rem;
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.8s ease-out;
  width: 100%;
}

.milestone-content.left {
  flex-direction: row;
  transform: translateX(-100px);
}

.milestone-content.right {
  flex-direction: row-reverse;
  transform: translateX(100px);
}

.milestone-content.visible {
  opacity: 1;
  transform: translateX(0);
}

.image-container {
  flex: 0 0 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  border: 12px solid #ff0000;
  position: relative;
}
.image-container::after {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border: 12px solid white;
  border-radius: 50%;
  pointer-events: none;
}

.milestone-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description-container {
  flex: 1;
  padding: 1  .5rem;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.milestone-description {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  margin-left: 10px;
}

.video-link {
  font-size: 1rem;
  margin-top: 1rem;
}

.link-text {
  color: #0066cc;
  text-decoration: underline;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
  .milestone-content {
    flex-direction: column !important;
    gap: 1rem;
  }

  .image-container {
    flex: 0 0 200px;
    height: 200px;
  }

  .timeline-segment {
    left: 20px;
  }

  .year-header {
    font-size: 2rem;
    margin-left: 2rem;
    text-align: left;
    align-self: flex-start;
  }

  .milestone-content.left,
  .milestone-content.right {
    transform: translateX(-50px);
  }

  .milestone-content.visible {
    transform: translateX(0);
  }
}
/* ProductDisplay.css */
.product-layout1 {
  display: flex;
  max-width: 1800px;
  margin: 0 auto;
  padding: 40px;
  gap: 40px;
}

.image-section1 {
  flex: 1;
  min-width: 300px;
  animation: slideIn 1s ease-in-out; /* Apply the animation */
}

.product-image1 {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-section1 {
  flex: 2;
 
}

.description1 p {
  margin: 60px 0 16px 0;
  line-height: 1.4;
  color: #444;
  font-size: 27px;
  text-align: left;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Keyframes for the left-to-right animation */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .product-layout1 {
    flex-direction: column;
    padding: 16px;
    gap: 24px;
  }

  .image-section1,
  .content-section1 {
    width: 100%;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 14px;
  }
}


/* ProductDisplay.css */
.product-layout2 {
  display: flex;
  max-width: 1800px;
  margin: 0 auto;
  padding: 40px;
  gap: 40px;
}

.image-section2 {
  flex: 1;
  min-width: 300px;
  animation: slideIn2 1s ease-in-out; /* Apply the animation */
}

.product-image2 {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-section2 {
  flex: 2;
 
}

.description2 p {
  margin: 100px 0 16px 0;
  line-height: 1.4;
  color: #444;
  font-size: 27px;
  text-align: left;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Keyframes for the left-to-right animation */
@keyframes slideIn2 {
  from {
    transform: translateX(200%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .product-layout2 {
    flex-direction: column;
    padding: 16px;
    gap: 24px;
  }

  .image-section2,
  .content-section2 {
    width: 100%;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 14px;
  }
}


.description1 h1{
  font-size: 60px;
  margin-bottom: 0;
  background: linear-gradient(to right, #e31e29 0, #232323 150%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

}
.description1 h3{
  margin-top: 0;
  font-size: 20px;
  background: linear-gradient(to right, #e31e29 0, #232323 150%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

